.about-container .wrapper {
  width: 60rem;
  margin: 0 auto;
  padding-top: 24vh;
}

.about-container .wrapper h2 {
  font-size: 1.2rem;
}

.about-container .content {
  margin-top: 3em;
  display: flex;
  flex-flow: row wrap;
  font-size: 1rem;
}

.about-container .content div {
  margin-right: 2em;
}

.about-container .me {
	width: 250px;
	max-width: 550px;
  height: 270px;
  background-image: url("../../imgs/nessa.jpg"); 
  background-size: cover;
}

.bio {
  display: flex;
  flex-direction: column;
}

.bio a {
  margin-bottom: 1em;
  color: #2AB0C5;
  text-decoration: none;
}

.faq h3 {
  font-family: MontserratBold;
}

.social-group {
  display: flex;
  flex-direction: row;
}

.social-group img {
  height: 2.5em;
  width: 2.5em;
  margin: 0 .6em .6em 0;
  background: url("../../imgs/github.png") no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}