.about-container .wrapper {
  width: 60rem;
  margin: 0 auto;
  padding-top: 16vh;
  text-align: center;
}

.about-container .wrapper h2 {
  font-size: 1.2rem;
}

.about-container .intro {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.about-container .content {
  margin-top: 3em;
  display: flex;
  flex-flow: row wrap;
  font-size: 1rem;
}

.about-container .me {
	width: 250px;
	max-width: 550px;
  height: 270px;
  background-image: url("../../imgs/nessa.jpg"); 
  background-size: cover;
}

.bio a {
  margin: .6em 0 0 .6em;
  color: #2AB0C5;
}

.faq {
  text-align: left;
}

.faq h3 {
  font-family: MontserratBold;
}

.social-group {
  display: flex;
  flex-direction: row;
}

.social-group div {
  height: 2.5em;
  width: 2.5em;
  margin-bottom: .6em;
  background: url("../../imgs/Icons/github.png") no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.about-container .me, .about-container .faq, .about-container .bio {
  display: flex;
  flex-direction: column;
  margin: 0 3rem 3rem 0;
}

.about-container .bio {
  margin-right: 0;
}