html, body, div, span, h1, h2, h3, h4, h5, 
h6, p, a, em, img, strike, strong, sub, sup, 
b, u, i, ol, ul, li, form, label, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
  font-size: 100%;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 1em;
}

h1 {
  font: 16rem MontserratBold;
}

h2 {
	font: 2rem Montserrat;
}

h4 {
	font: 1rem MontserratBold;
}

a {
	text-decoration: none;
}

@media only screen and (max-width: 1080px), only screen and (max-device-width: 1080px) {
	html { font-size: 75%; }
}

@media only screen and (max-width: 580px), only screen and (max-device-width: 580px) {
	html { font-size: 45%; }
	nav p { font-size: 1.4em; }
}