@font-face {
    font-family: Montserrat;
    src: url("./fonts/Montserrat-Regular.otf");
}

@font-face {
    font-family: MontserratBold;
    src: url("./fonts/Montserrat-Bold.otf");
}

@font-face {
    font-family: MontserratLight;
    src: url("./fonts/Montserrat-Light.otf");
}

@font-face {
    font-family: MontserratUltraLight;
    src: url("./fonts/Montserrat-UltraLight.otf");
}

@font-face {
    font-family: OpenSans;
    src: url("./fonts/open_sans.ttf");
}

.Montserrat { font-family: OpenSans, Sans-Serif; }
.MontserratBold { font-family: OpenSansBold, Sans-Serif; }
.MontserratLight { font-family: OpenSansBold, Sans-Serif; }
.MontserratUltraLight { font-family: OpenSansBold, Sans-Serif; }
.OpenSans { font-family: OpenSansBold, Sans-Serif; }

