.form-wrapper {
  width: 50rem;
  margin: 0 auto;
  padding-top: 24vh;
}

.form-wrapper h2 {
    width: 46rem;
    line-height: 1.4em;
}

.form-group {
    width: 46rem;
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-top: 16px;
    border: none;
    background-color: #E2E5E5;
}

textarea {
    resize: none;
    height: 180px;
}

.btn {
    width: 35%;
    margin-top: 20px;
    color: #FFF;
    background-color: #2AB0C5;
    border: none;
    text-transform: uppercase;
}

.btn, input, textarea {
    transition: all 0.5s ease;
    padding: 12px;
    font-size: 20px;
    font-family: OpenSans;
    border-radius: 3px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input:focus, textarea:focus {
    background-color: #919FAF;
}

.btn:focus {
    filter: brightness(85%);
}

::-webkit-input-placeholder {
    font-family: OpenSans;
    font-size: 20px;
    color: #A59FB4;
    font-weight: bolder;
}

:focus::-webkit-input-placeholder {
    color: #FFF;
}

input:focus, textarea:focus {
    outline: none;
    color: #FFF;
}

input.active:valid {
  box-shadow: 0 0 5px 1px #2AB0C5;
}

input.active:invalid {
  box-shadow: 0 0 5px 1px #FF0000;
}

.error {
  color: #FF0000;
  margin-top: 5px;
}

/* .linkedin {
	width: 40px;
    height: 40px;
    margin: -50px 0 0 510px;
    background-image: url("../img/linkedin.png"); 
    background-size: cover;
} */