.wrapper {
  width: 50rem;
  margin: 0 auto;
  padding-top: 34vh;
  font-size: 2em;
}

.hi {
  width: 1em;
  float: left;
  padding-right: 1.6rem;
  opacity: 0;
}

.name {
  line-height: .4em;
  padding-bottom: .25em;
}

.wrapper p:not(.hi), wrapper span {
  position: relative;
  padding-left: .5em;
}

.smol {
  font-family: MontserratUltraLight;
  font-size: .8em;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
