.wrapper {
  width: 50rem;
  margin: 0 auto;
  padding-top: 22vh;
  font-size: 2em;
}

.hi {
  width: 1em;
  float: left;
  padding-right: 1.6rem;
}

.name {
  line-height: .4em;
  padding-bottom: .25em;
}

.wrapper p:not(.hi), wrapper span {
  position: relative;
  padding-left: .5em;
}

.smol {
  font-family: MontserratUltraLight;
  font-size: .8em;
}

.nav, .logo {
  opacity: 0;
}