nav {
  float: right;
  padding: 1em;
}

nav p {
  color: #000;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin: 1em 2em;
}

nav p:hover {
  padding-bottom: .2em;
  border-bottom: solid 4px;
  border-bottom-color:rgba(0, 0, 0, 0.4);
}