.wrapper {
  width: 90vw;
  margin: 0 auto;
  padding-top: 24vh;
}

.wrapper h2 {
    line-height: 1.4em;
}

.tiles {
  display: flex;
  flex-flow: row wrap;
}

.tile {
  flex-grow: 1;
  height: 14em;
  width: 14em;
  /* background: url("../../imgs/bucketlist.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

.tile:last-of-type {
  max-width: 800px;
}